<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">bruno123</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/estoque</property>
  <property name="hibernate.connection.username">bruno</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <mapping class="com.sunsetdevelopers.sistema.entidade.Entidade"/>
  <mapping class="com.sunsetdevelopers.sistema.entidade.Endereco"/>
  <mapping class="com.sunsetdevelopers.sistema.entidade.Telefone"/>
  <mapping class="com.sunsetdevelopers.sistema.entidade.cliente.Cliente"/>
  <mapping class="com.sunsetdevelopers.sistema.entidade.funcionario.Funcionario"/>
  <mapping class="com.sunsetdevelopers.sistema.entidade.funcionario.Funcao"/>
  <mapping class="com.sunsetdevelopers.sistema.produto.Produto"/>
  <mapping class="com.sunsetdevelopers.sistema.venda.Pedido"/>
  <mapping class="com.sunsetdevelopers.sistema.venda.ItemPedido"/>
 </session-factory>
</hibernate-configuration>
